@model Class
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Додати клас";
}
<form method="post">
    @if (ViewBag.Message == "Ви невірно ввели назву класу! Як приклад назва має бути 12-Б")
    {
        <div class="text-center mb-3">
            <b class="text-danger">@ViewBag.Message</b>
        </div>
    }
    else if (ViewBag.Message == "Такий клас вже існує!")
    {
        <div class="text-center mb-3">
            <b class="text-danger">@ViewBag.Message</b>
        </div>
    }
    else
    {
        <div class="text-center mb-3">
            <b class="text-success">@ViewBag.Message</b>
        </div>
    }
    <div class="row justify-content-center mt-3">
        <label asp-for="Title" class="mr-3">Назва класу</label>
    </div>
    <div class="row justify-content-center">
        <input asp-for="Title" class="form-control col-3" required />
    </div>

    <div class="row justify-content-center mt-3">
        <label asp-for="RecruitmentDate" class="mr-3">Дата набору</label>
    </div>
    <div class="row justify-content-center">
        <input asp-for="RecruitmentDate" class="form-control col-2" required />
    </div>

    <div class="row justify-content-center mt-3">
        <input asp-action="AddClass" type="submit" value="Додати клас" class="btn btn-dark text-center mr-3" />
        <a asp-action="HomeAdministration" class="btn btn-dark text-center">Повернутись на сторінку адміністратора</a>
    </div>
</form>
