@model Journal
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Додати учня";
    List<SelectListItem> fkClasses = ViewBag.FK_Classes;
    List<SelectListItem> fkSubjects = ViewBag.FK_Subjects;
    List<SelectListItem> fkTeachers = ViewBag.FK_Teachers;
}
<form method="post">
    <div class="row justify-content-center mt-3">
        <label asp-for="FkClass" class="mr-3">Оберіть клас</label>
    </div>
    <div class="row justify-content-center">
        @Html.DropDownListFor(model => model.FkClass, fkClasses, new { @class = "form-control col-sm-2 text-center" })
    </div>

    <div class="row justify-content-center mt-3">
        <label asp-for="FkSubject" class="mr-3">Оберіть предмет</label>
    </div>
    <div class="row justify-content-center">
        @Html.DropDownListFor(model => model.FkSubject, fkSubjects, new { @class = "form-control col-sm-2 text-center" })
    </div>

    <div class="row justify-content-center mt-3">
        <label asp-for="FkTeacher" class="mr-3">Оберіть вчителя</label>
    </div>
    <div class="row justify-content-center">
        @Html.DropDownListFor(model => model.FkTeacher, fkTeachers, new { @class = "form-control col-sm-2 text-center" })
    </div>

    <div class="row justify-content-center mt-3">
        <input asp-action="AddJournal" type="submit" value="Додати журнал" class="btn btn-dark text-center mr-3" />
        <a asp-action="HomeAdministration" class="btn btn-dark text-center">Повернутись на сторінку адміністратора</a>
    </div>
</form>
