@model Student
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Додати учня";
    List<SelectListItem> fkClasses = ViewBag.ClassesSelect;
}
<link rel="stylesheet" href="/css/formValidationStyle.css"/>
@if (ViewBag.IsFormValid == true)
{
    <p class="text-center text-success mt-2">@ViewBag.Message</p>
}
else 
{
}
<form method="post">
    <div class="row justify-content-center mt-3 mb-0">
        <label asp-for="FkClass" class="mb-0">Оберіть клас</label>
    </div>
    <div class="row justify-content-center mb-2 mt-0"><span class="text-danger" asp-validation-for="FkClass"></span></div>
    <div class="row justify-content-center">
        @Html.DropDownListFor(model => model.FkClass, fkClasses, new { @class = "form-control col-sm-2" })
    </div>

    <div class="row justify-content-center mt-3 mb-0">
        <label asp-for="Login" class="mb-0">Логін</label>
    </div>
    @if (ViewBag.IsFormValid == false)
    {
        <div class="row justify-content-center mb-2 mt-0"><span class="text-danger">@ViewBag.Message</span></div>
        <div class="row justify-content-center">
            <input asp-for="Login" class="form-control col-3" style="border: 1px solid #f00; background-color: #fee;"/>
        </div>
    }
    else
    {
        <div class="row justify-content-center mb-2 mt-0"><span class="text-danger" asp-validation-for="Login"></span></div>
        <div class="row justify-content-center">
            <input asp-for="Login" class="form-control col-3"/>
        </div>
    }
    <div class="row justify-content-center mt-3 mb-0">
        <label asp-for="Password" class="mb-0">Пароль</label>
    </div>
    <div class="row justify-content-center mb-2 mt-0"><span class="text-danger" asp-validation-for="Password"></span></div>
    <div class="row justify-content-center">
        <input asp-for="Password" class="form-control col-3" />
    </div>

    <div class="row justify-content-center mt-3 mb-0">
        <label asp-for="Surname" class="mb-0">Прізвище</label>
    </div>
    <div class="row justify-content-center mb-2 mt-0"><span class="text-danger" asp-validation-for="Surname"></span></div>
    <div class="row justify-content-center">
        <input asp-for="Surname" class="form-control col-3" />
    </div>

    <div class="row justify-content-center mt-3 mb-0">
        <label asp-for="Name" class="mb-0">Ім'я</label>
    </div>
    <div class="row justify-content-center mb-2 mt-0"><span class="text-danger" asp-validation-for="Name"></span></div>
    <div class="row justify-content-center">
        <input asp-for="Name" class="form-control col-3" />
    </div>

    <div class="row justify-content-center mt-3 mb-0">
        <label asp-for="Middlename" class="mb-0">По батькові</label>
    </div>
    <div class="row justify-content-center mb-2 mt-0"><span class="text-danger" asp-validation-for="Middlename"></span></div>
    <div class="row justify-content-center">
        <input asp-for="Middlename" class="form-control col-3" />
    </div>

    <div class="row justify-content-center mt-3 mb-0">
        <label asp-for="ParrentMail" class="mb-0">Email адреса одного з батьків</label>
    </div>
    <div class="row justify-content-center mb-2 mt-0"><span class="text-danger" asp-validation-for="ParrentMail"></span></div>
    <div class="row justify-content-center">
        <input asp-for="ParrentMail" class="form-control col-3" />
    </div>
    <div class="row justify-content-center mt-3">
        <input asp-action="AddStudent" type="submit" value="Додати учня" class="btn mr-3"
               style="background-color: #152D35; color: #D4ECDD" />
        <a asp-action="HomeAdministration" class="btn"
           style="background-color: #152D35; color: #D4ECDD">Повернутись на сторінку адміністратора</a>
    </div>
</form>

