@{
    Layout = "_MainLayout";
    ViewBag.Title = "Сторінка адміністратора";
}
<div>
    <h3 class="text-center mt-2">Сторінка адміністратора</h3>
    <div class="row justify-content-center mt-3">
        <a asp-action="AddStudent" class="btn btn-dark text-light col-2">Додати учня</a><br />
    </div>
    <div class="row justify-content-center mt-2">
        <a asp-action="AddTeacher" class="btn btn-dark text-light col-2">Додати вчителя</a>
    </div>
    <div class="row justify-content-center mt-2">
        <a asp-action="AddClass" class="btn btn-dark text-light col-2">Додати клас</a>
    </div>
    <div class="row justify-content-center mt-2">
        <a class="btn btn-dark text-light col-2">Додати журнал</a>
    </div>
    <div class="row justify-content-center mt-2">
        <a class="btn btn-dark text-light col-2">Додати шкільний рік</a>
    </div>   
</div>
