@{
    Layout = "_MainLayout";
    ViewBag.Title = "Сторінка адміністратора";
}
<div>
    <h3 class="text-center mt-2" style="color: #112031">Сторінка адміністратора</h3>
    <div class="row justify-content-center mt-3">
        <a asp-action="AddStudent" class="btn col-2" style="background-color: #152D35; color: #D4ECDD">Додати учня</a>
    </div>
    <div class="row justify-content-center mt-2">
        <a asp-action="AddTeacher" class="btn col-2" style="background-color: #152D35; color: #D4ECDD">Додати вчителя</a>
    </div>
    <div class="row justify-content-center mt-2">
        <a asp-action="AddClass" class="btn col-2" style="background-color: #152D35; color: #D4ECDD">Додати клас</a>
    </div>
    <div class="row justify-content-center mt-2">
        <a asp-action="AddJournal" class="btn col-2" style="background-color: #152D35; color: #D4ECDD">Додати журнал</a>
    </div> 
</div>
