@model Lesson
@{
    ViewBag.Title = "Додавання уроку";
    Layout = "_MainLayout";
    List<SelectListItem> teachers = ViewBag.Teachers;
    List<SelectListItem> subjects = ViewBag.Subjects;
}
<form method="post">
    <div class="row justify-content-center">
        <label asp-for="FkTeacher" class="mt-3">Оберіть вчителя</label>
    </div>
    <div class="row justify-content-center">
        @Html.DropDownListFor(model => model.FkTeacher, teachers, new { @class = "form-control col-sm-3 text-center" })
    </div>
    <div class="row justify-content-center">
        <label asp-for="FkSubject" class="mt-3">Оберіть предмет</label>
    </div>
    <div class="row justify-content-center">
        @Html.DropDownListFor(model => model.FkSubject, subjects, new { @class = "form-control col-sm-2 text-center" })
    </div>
    <div class="row justify-content-center">
        <input asp-action="AddLesson" type="submit" value="Додати урок" class="btn btn-dark text-center mt-3" />
    </div>
</form>




