@model IEnumerable<SubjectListContent>
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Список предметів";
}
<h3 class="mt-3 mb-3 text-center" style="color: #112031">Список предметів</h3>
<table class="table table-striped">
    @foreach (SubjectListContent subjectListContent in Model)
    {
        var parameters = new Dictionary<string, string>
            {
                { "fkSubject", subjectListContent.JournalDetails.FkSubject.ToString() },
                { "fkTeacher" , subjectListContent.JournalDetails.FkTeacher.ToString()}
            };
        <tr>
            <td style="width:60%; padding-left:30%">
                @subjectListContent.SubjectDetails.Title
            </td>
            <td>
                <a class="btn btn-sm" style="background-color: #152D35; color: #D4ECDD "
                   asp-all-route-data="parameters" asp-action="AcademicPerformance">
                    Переглянути успішність з предмету
                </a>
            </td>
        </tr>
    }
</table>


