<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center text-light bg-dark" style="height: 120px; padding-top: 1%">
        <h1>School Journal</h1>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
