<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center pt-3 mb-0" style="height: 120px; background-color: #152D35 ">
        <h1 style="color: #D4ECDD ">School Journal</h1>
        @if (Context.Session.GetString("Status") == "Guest")
        {

        }
        else if (Context.Session.GetString("Status") == "Admin")
        {
            <a asp-controller="Home" asp-action="Home" class="mr-3" style="color: #D4ECDD ">Журнали</a>
            <a asp-controller="Schedule" asp-action="ScheduleRedirect" class="mr-3" style="color: #D4ECDD ">Розклад</a>
            <a asp-controller="Administration" asp-action="HomeAdministration" style="color: #D4ECDD ">Адміністрування</a>
        }
        else if (Context.Session.GetString("Status") == "Student")
        {
            <a asp-controller="Home" asp-action="Home" class="mr-3" style="color: #D4ECDD ">Журнали</a>
            <a asp-controller="Schedule" asp-action="ScheduleRedirect" class="mr-3" style="color: #D4ECDD ">Розклад</a>
            <a asp-controller="AcademicPerformance" asp-action="SubjectList" class="mr-3" style="color: #D4ECDD ">Успішність</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Home" class="mr-3" style="color: #D4ECDD ">Журнали</a>
            <a asp-controller="Schedule" asp-action="ScheduleRedirect" class="mr-3" style="color: #D4ECDD ">Розклад</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
